 <main class ="container">
    <div  style="margin-top:150px;vertical-align: middle;text-align:center;font-family:cursive;color:black;font-weight: 400;">
      <div class="display-welcome">
      <h2>Welcome to home page</h2><br>
      <h4>I am a software engineer. If you need help I can assit you to learn progamming language, provide tutorials and will help you to build a project.</h4><br>
      <p>Want to know more about me...Click here</p>
      <a class="display" href="/about">About me </a>
</div>
    </div>
  </main>
  <div style="left: 32%;text-align:center;opacity: 0.9; position: absolute;bottom: 70px;">
    <h3 style="color:#F0E68C" class="display-15">  </h3>

  
    </h6>
  </div>