<!-- Main Content -->
      <main class="container">
        <div>
          <h1 class="display-8 services-heading">Projects</h1>
        </div>

    <div class="row about_project_div ">
  <div class="column projects-size-box project-div ">
    <div class="content"  style ="height:750px">
      <img class = "img-size"src="/Assets/images/image3.jpg" alt="image3.jpg" style="width:100%">
      <h3>Movie Ticketing Application</h3>
      
       <ul>
       <li>Technologies used: HTML5, CSS, JavaScript, SQL</li>
       <li>Collaborated to build an application program to maintain a movie ticketing system including Movie 
Tickets, Payment, Booking and to reduce manual work.</li>
       <li>Assisted senior team members to develop a functional and appealing user interface. </li>
       </ul>
    </div>
  </div>
  <div class="column projects-size-box project-div">
    <div class="content "  style ="height:750px">
    <img src="/Assets/images/Image4.jpg" class = "img-size"alt="Image4.jpg" style="width:100%">
      <h3>Workforce Management Application</h3>
      
      <ul>
      <li>Technologies Used: Spring, Spring Boot, Rest, Angular, JSP, JavaScript, Java</li>
      <li>Supported an application system to manage an extended workforce for a variety of global companies.</li>
      <li>Assist with business process analysis, requirements gathering, coding, and testing. </li>
      </ul>
    </div>
  </div>
  <div class="column projects-size-box project-div">
    <div class="content "  style ="height:750px">
    <img src="/Assets/images/Image8.jpg" class = "img-size"alt="Image4.jpg" style="width:100%">
      <h3>Hotel Management System</h3>
      
      <ul>
      <li>Technologies Used: Spring, Spring Boot, Rest, Angular, JSP, JavaScript, Java</li>
      <li>Demonstrate skill in web development, database design/management and user experience design. </li>
      <li>Assist with business process analysis, requirements gathering, coding, and testing. </li>
      </ul>
    </div>
  </div>
  
  </div>
<!-- END GRID -->
</div>


        
      </main>
  