<div class="container about_div">
    <h4><b>About Me</b></h4>
    <img src="/Assets/images/image2.jpeg" alt="Me" class="about_image about_padding" width="200" height="50">
    <div class="about_content about_justify about_div1" style="max-width:800px">
     <center> <h3 class="name_font_style">Arya Vijimon Nair</h3></center>
      <center><h4 class="theme-color">  Junior Software Developer</h4></center>
      <p class="about-align">
      Highly motivated and conscientious Software Engineer with experience in all phases of the software 
development life cycle. A proven passion for technology and innovation with a creative mindset.
      </p>
      
       <div class="btn-bar">
       <br><center><p>Want to know more information...here is my resume</p></center>
         <a class="resume_link" href="Resources/resume12.pdf">Resume</a>
        </div>
    </div>
  </div>