 <main class ="container">
    <div  style="margin-top:150px;vertical-align: middle;text-align:center;font-family:cursive;color:black;font-weight: 400;">
      <div class="display-welcome">
      <h2>Welcome to my page</h2><br>
      <h3>I'm a software engineer, I can assist you with problem-solving,  project-building assistance, and knowledge enhancement.</h3><br>
      <h5>Want to know more about me.....Click the below link</h5>
       <a class="acontact_link" href="/about">
      About me</a>
</div>
    </div>
  </main>
  <div style="left: 32%;text-align:center;opacity: 0.9; position: absolute;bottom: 70px;">
    <h3 style="color:#F0E68C" class="display-15">  </h3>

  
    </h6>
  </div>