 <main class="container">
        <div>
          <h1 class="display-8 services-heading">Services</h1>

        </div>
        <!-- Jumbotron -->
        <div class="bg-image shadow-1-strong rounded mb-5 text-white"
          style="height:370px;">
          <div class="services_div" style="border-radius: 25px;">
            <h3 class="mb-3 h2" style="padding-top:20px; font-weight: bold;">Professional Skills</h3>
            <ul>
            <li>Professional work experience in JavaScript frameworks such as Vue.js, React.js and Angular</li>
            <li>Skilled in UI and web services technology – HTML, CSS, and JavaScript</li>
            <li>Knowledge and experience with databases including Postgres, SQLite, MySQL and Redis </li>
            <li>Proven ability to develop a well-structured front-end architecture, along with the APIs to support it.  </li>
            <li>Excellent Analytical and Communication Skills.</li>
            <li>Skilled with use of Jira, AWS, IBM Cloud services and REST service</li>
            <li>A strong critical thinker with keen problem-solving and troubleshooting skills.</li>
            <li>Excellent organizational and time management skills</li>
            </ul>
          </div>
        </div>
       
        <div class="card-group about_project_div">
          <div class="card">
            <img class="card-img-top" style="height: 180px;" src="/Assets/images/image5.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Web Development</h5>
              <p class="card-text">Courses on web development are designed to cover every aspect of building websites and web apps. They go through subjects like HTML, CSS, JavaScript, and Internet Fundamentals, among others.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" style="height: 180px;"src="/Assets/images/image7.jpg"  alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mobile Apps Development</h5>
              <p class="card-text">to create excellent native apps that are in line with your security and commercial needs for both Android and iOS platforms.</p>
            </div>
      
          </div>
        </div>




      </main>